body {
    font-family: 'Times New Roman', serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 60px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 600px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    width: 80px; /* Adjust the size of the logo */
    height: auto;
    margin-right: 15px; /* Add some space between logo and text */
}

.header-text h1 {
    font-family: 'Calibri', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #2c3e50;
    margin: 0;
}

.header-text h2 {
    font-family: 'Calibri', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #34495e;
    margin: 5px 0;
}

h3 {
    font-family: 'Calibri', sans-serif;
    font-size: 22px;
    color: #1f618d;
}

.login-box {
    margin-top: 20px;
}

.login-box p {
    font-family: 'Times New Roman', serif;
    font-size: 26px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 30px;
}

button {
    font-size: 22px;
    font-weight: bold;
    color: white;
    background-color: #2980b9;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    margin: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #1f618d;
}
